# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# Environment variables
.env
.env.*

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
*.eggs/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test coverage reports
htmlcov/
.coverage
.coverage.*

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Others
*.sqlite3
*.db